.parent{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(158, 154, 154);
}

.parent div{
margin: 10px;
border: 1px solid black;
width: 300px;

}
.parent div p{
  border-top: 1px solid gray;
padding: 5px;
}

.data{
  display: flex;
  justify-content: center;
  width: 100%;
 
}
.data input{
  border: 1px solid gray;
  margin: 10px;
}


/* .footer{
  background-color: rgb(59, 59, 209);
  color: aqua;
}

.parentLog{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 60vw;
  border: 1px solid gray;
  box-shadow: 0px 0px 3px 3px gray;
  margin-top: 50px;
}
.inputs{
  width: 60%;
} */